.profile-card {
    background: #9DC93C ;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.profile-card::before {
    content: "";
    z-index: 1;
    opacity: .8;
    border-radius: 100%;
    width: 450px;
    height: 450px;
    position: absolute;
    top: -250px;
    right: -210px;
    background: linear-gradient(to right, #589564, #87c38f) !important;
}

.profile-card-1, .profile-card-2 {
    z-index: 3;
}